h1{
    text-align: center;
}

.container-title{
    margin: 25px 20px;
}

.container-game{
    display: flex;
    margin: 0 auto;
    max-width: 90%;
    justify-content: space-between;   
}

.container-scores{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90%;
    padding-bottom: 10px;
}

.city{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 75vh;
    border: 1px solid #0000001f;
    border-radius: 15px;
    box-shadow: #6c6c6c30 2px 2px 2px 3px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        scale: 1.025;
    }
    @media screen and (max-height: 750px) and (min-width: 720px){
        height: 50vh;
    }
}

.city-name{
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 3rem;
    text-align: center;
}

.country-name{
    margin-top: 5px;
}

.city-population{
    font-size: 2rem;
}

.container-vs-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.vs-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.vs-icon-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    transition: opacity 0.3s ease;
}

.vs-icon-text.hide {
    opacity: 0;
}

.vs-feedback-icon {
    position: absolute;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 2.5rem;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.vs-feedback-icon.show.correct {
    background-color: #4CAF50;
    opacity: 1;
    transform: scale(1);
    color: #FFF;
}

.vs-feedback-icon.show.wrong {
    background-color: #F44336;
    opacity: 1;
    transform: scale(1);
    color: #FFF;
}

/* Mobile */
@media screen and (max-width: 720px){
    h1{
        font-size: 1.5rem;
    }
    
    .container-title{
        margin: 15px 10px;
    }

    .container-game{
        flex-direction: column;
        align-items: center;
    }
    
    .city{
        max-height: 220px;
        width: 75%;
    }

    .city-name{
        font-size: 2rem;
    }
    
    .city-population{
        font-size: 1rem;
    }
    
    .vs-icon{
        width: 50px;
        height: 50px;
    }
    
    .vs-icon-text {
        font-size: 1rem;
        margin: 20px;
    }
}

@media screen and (max-width: 480px){
    
    .city{
        max-height: 175px;
    }

    .city-name{
        font-size: 1.5rem;
    }
    
    .city-population{
        margin-top: 5px;
    }
}
